h1, p {
  font-family: Lato;
}
.bg-pink{
background-color: #e63f91;
}
.nav-item{
  border-bottom:3px solid transparent;
  transition:2s;
}
.nav-item:hover{
  border-bottom:3px solid black;
}
#newpatient input:checked~#oldpatient{
display: none;
}
.prf-img{
  height:30px;
  width:30px;
  border-radius: 50%;
}